target
.idea
.DS_Store
out
dist
node_modules
*.log
pkg
dist.*
*.crx
.openapi-*
/wz-templates/src/api/git_push.sh
/wz-templates/src/api/.npmignore
/wz-templates/src/api/.gitignore
dist-1
dist-chrome
static_embed/*
var
note-app/static_embed/template/*
note-app/static_embed/fe_static/*
*.bin
publish-artifacts/
.venv/
__pycache__
